@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
.landing-img {
  position: fixed;
  margin-top: -50px; }

body {
  font-family: 'IBM Plex Sans', sans-serif; }

.archive {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 65px;
  z-index: 1;
  width: 200px; }
  .archive a {
    text-decoration: none;
    color: #fff;
    left: 15px;
    position: relative; }

.archive-index {
  position: absolute;
  left: 80px; }
  .archive-index a {
    text-decoration: none;
    color: #000; }

nav {
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  line-height: 90%;
  position: absolute;
  top: 57px;
  left: 65px; }

nav li a {
  color: #fff !important; }

nav li a:hover {
  background-color: transparent !important;
  color: #fff !important;
  font-weight: 600; }

nav li a:focus {
  background-color: transparent !important;
  color: #fff !important;
  font-weight: 600; }

.link2 {
  margin-left: 10px; }

.main-nav {
  background-color: rgba(0, 0, 0, 0); }

.main-nav li a {
  color: #000 !important; }

.main-nav li a:hover {
  color: #000 !important; }

.main-nav li a:focus {
  color: #000 !important; }

#link {
  line-height: 100%; }

/* Slider */
.container {
  margin-top: 150px; }

.navigation {
  width: 700px;
  height: 500px; }

.wrapper {
  margin: 0 auto;
  width: 600px;
    width-height: 500px; }

.images {
  position: absolute; }

.number {
  position: absolute;
  top: -25px; }

.prev {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  left: 0; }

.next {
  float: left;
  height: 100%;
  width: 50px;
  position: absolute;
  right: 25px;
  top: 0; }

/* next, prev button on slider */
.next img,
.prev img {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

#first {
  top: 150px; }

#first p {
  margin-left: 25px; }

#first h3 {
  margin-left: 25px; }

.open {
  display: none; }

.closed {
  display: block; }
