@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

.landing-img
    position: fixed
    margin-top: -50px

body
    font-family: 'IBM Plex Sans', sans-serif;

nav
    width: 200px
    line-height: 90%
    margin: 50px

nav li a
    color: #fff !important
    
nav li a:hover
    background-color: transparent !important
    color: #000 !important
    
nav li a:focus
    background-color: transparent !important
    color: #000 !important

.link2
    margin-left: 10px

